body {
  background-image: url("pcomponents.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.info h3 {
  color: darkorange;
  font-size: 30px;
  font-weight: lighter;
}
.info h1{
  color:orangered;
  font-size:220%;
  font-weight: bold;
}
.info input {
  font-size: 20px;
  color: blue;
}

.info select {
  font-size:20px;
  color:white;
  background-color: rebeccapurple;
}
.info button {
  color:orange;
  font-size:28px;
  font-weight: lighter;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  text-align: center;
}